{{ define "main" }}
  <div class="container">
    {{ partial "nav.html" . }}

    <!-- Блок с разделами -->
    <div class="section-list">
      <h2>Разделы</h2>
      <ul>
        {{ range where (where .Site.Sections "Title" "!=" "run0v blog") "Title" "!=" "Posts" }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </div>

    <!-- Оригинальный контент главной страницы -->
    <div class="posts">
      {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
      {{ range $paginator.Pages }}
      <div class="post">
        <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <span class="post-date">{{ .Date.Format "2006-01-02" }}</span>
        {{ .Summary }}
        {{ if .Truncated }}
        <div class="read-more-link">
          <a href="{{ .RelPermalink }}">Читать дальше...</a>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </div>

    {{ partial "pagination.html" . }}
  </div>
{{ end }}