{{ define "main" }}
<div class="homepage-layout">
    <aside class="sidebar">
        <nav class="sidebar-menu">
            <h3>Меню</h3>
            <ul>
                {{ range .Site.Menus.main_sidebar }}
                <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </nav>
    </aside>
    <div class="main-feed">
        <section class="posts">
            {{ range where .Paginator.Pages ".Params.showonmain" "!=" false }}
            <article class="post-title-only">
                <a href="{{ .RelPermalink }}">
                    <h2 class="post-title">{{ .Title }}</h2>
                </a>
            </article>
            {{ end }}
        </section>

        {{ template "_internal/pagination.html" . }}
    </div>
</div>
{{ end }}
